.buttons{
    display: flex;
    width: 35%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.buttonLink{
    width: 100px;
    height: 42px;
    }
.picture{
    width: 100px;
    height: 42px;
}