.how-it-works__header{
    margin:20px 10px;
    text-align: center;
    font-size: 2.375rem;
    font-weight: 300;
}
.how-it-works {
   width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius:10px;
}

.how-it-works__item{
    flex: 0 0 25%;
    max-width: 25%;
    height: 350px;
    max-height: 25%;
    padding: 32px 16px 10px;
    margin: 3px 10px;
    text-align: center;
    box-shadow: 0 10px 28px 0 hsl(210deg 8% 54% / 20%);
    background-color: #fff;
    border-radius: 7px;
    color: rgb(108,118,127);
}        