.App-clock{
    display:flex;
    align-items:center;
    justify-content: center;
    color:rgb(46, 44, 44);
    font-size: 29px;
    padding-bottom: 5px;
    text-align: center;
}
@media screen and (max-width:450px) {
    .App-clock{
      font-size: 24px;
    }
  }

@media screen and (max-width:450px) {
    .App-clock{
    font-size: 24px;
    }
  }