.rating-wrapper {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.output {
    font-size: 25px;
    }
.rating {
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    font-size: 80px;
}
.rating input {
    display: none;
}
.rating input:checked ~ label:before {
    content: ' ★ ';
}
.rating label {
    cursor: pointer;
    color: #FFB125;
}
.rating label:before {
    content: ' ☆ ';
}
.rating label:hover,
.rating label:hover ~ label {
    color: #FFB125;
}
.rating label:hover:before,
.rating label:hover ~ label:before {
    content: ' ★ ';
}
