@import url("https://kit.fontawesome.com/f7118aec50.js");
.App{
  background:linear-gradient(to left,#DAE6F5,#FEFEFF);
  margin: 20px auto;
  max-width:500px;
  height: 700px;
}
.header{
  height: 10%;
  background-color: #82AADD;
}
.nav{
  height: 5%;
  display:flex;
  justify-content: space-around;
  align-items:center;
  text-transform: uppercase;
  background-color:#ffff;
  border-bottom: 2px solid #E4ECF7;
}
.nav__items{
  font-size: 17px;
  color:#98B9E2;
  text-decoration: none;
}
.nav__items:hover {
  text-decoration-line:underline;
  text-decoration-color:#98B9E2;
  text-decoration-thickness: 3px;
}
.data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
}
.data__item{
  padding-bottom: 5px;
  color:#8EB2E0;
}
.data_wrapper{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
.ticket{
  /* margin-left: 50px; */
}
.item_info{
  color:rgb(46, 44, 44)
}
.logo__wrapper{
  width:100px;
  height: 30px;
}
.logo{
    width: 100%;
    height: 95%;
    object-fit: cover;
    overflow: hidden;
}

.time{
  width:85px;
  height: 45px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  font-size: 29px;
}


.clock-picture{
  position: relative;
  top: 3px;
  left: -4px;;
  width: 27px;
  height: 27px;
  border-radius:50%;
  
}
.live-clock{
  display:inline-block;
}
.time-text{
  color:#8EB2E0;
}
.time-wrapper{
  width:100%;
  display:flex;
  justify-content: space-between;
}
.line{
  height: 2px;
  width: 100%;
  border: none;
  background:linear-gradient(to left,#B0C5DD,#F9FBFD);
}
.rating-section{
  display:flex;
  flex-direction: column;
}
.feedback{
  height: 50%;
}
.feedback__form{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.checkbox__wrapper{
  width: 100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
 .checkbox__label{
   display:flex;
   justify-content: space-between;
   align-items: center;
  margin-right:30px ;
}
.checkbox{
  margin-left: 5px;
}
.checkbox__text{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  font-size: 12px;
}
.input__feedback{
  width:90%;
  height: 30px;
  text-align: center;
  border:none;
  background:none;
  padding: auto;
  color:#8EB2E0;
  font-size: large;
  text-decoration-line: underline;
  text-decoration-color: #FFAF22;
  text-decoration-thickness: 2px;
}
.input__feedback:focus{
  outline: none;
}
.input__feedback::placeholder {
  color: #D4E2F3;
  font-size: 25px;
}
.button{
  width:30%;
  height: 40px;
  background-color: #82AADD;
  color:#E7EEF9;
  border:2px solid #DBE7F6;
  border-radius: 5px;
  font-size: 23px;
  cursor: pointer;
}
@media screen and (max-height:600px){
  .App{
    overflow-y: scroll;
  }
}

/* rating */
.rating-wrapper {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
.output {
  font-size: 25px;
  }
.rating {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  font-size: 80px;
}
.rating input {
  display: none;
}
.rating input:checked ~ label:before {
  content: ' ★ ';
}
.rating label {
  cursor: pointer;
  color: #FFB125;
}
.rating label:before {
  content: ' ☆ ';
}
.rating label:hover,
.rating label:hover ~ label {
  color: #FFB125;
}
.rating label:hover:before,
.rating label:hover ~ label:before {
  content: ' ★ ';
}


/* media */
@media screen and (max-width:450px) {
  .App-clock{
    font-size: 24px;
  }
}

@media screen and (max-width:400px) {
  .data{
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width:375px) {
  .data{
    padding-right: 10px;
    padding-left: 10px;
  }
}