.footer{
    display:flex;
    flex-direction: row;
}
.footer-contacts{
    flex: 0 0 65%;
    max-width: 65%;
}

.footer-contacts__address{
    display: flex;
    flex-direction: column;
}
.footer-contacts__item{
    color: inherit;
    font-weight: 400;
    text-decoration: underline;
    line-height: 2.5em
}

.footer__right{
    flex: 0 0 65%;
    max-width:35%;
}